/* src/index.css */
.bg-dark {
  background-color: #1e2125 !important; /* Жёлтый фон */
}

.btn-primary {
  background-color: #f8e600;
  border-color: #f8e600;
  color: #000;
}

.btn-primary:hover {
  background-color: #d9c700;
  border-color: #d9c700;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}




